<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.lzu.library">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:name=".global.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.UserLoginActivity" />
        <activity android:name=".view.activity.GuideActivity" />
        <activity android:name=".view.activity.SearchBookActivity" />
        <activity android:name=".view.activity.SearchHtmlActivity" />
        <activity android:name=".view.activity.UserCenterActivity" />
        <activity android:name=".view.activity.MainActivity" />
        <activity android:name=".view.activity.SettingsActivity" />
        <activity android:name=".view.activity.hall.HouseMasterAlbumActivity" />
        <activity android:name=".view.activity.hall.LibraryHallActivity" />
        <activity android:name=".view.activity.hall.CharacteristicResourceActivity" />
        <activity android:name=".view.activity.hall.NewBookRecommendActivity" />
        <activity android:name=".view.activity.hall.HallNotifyActivity" />
        <activity android:name=".view.activity.hall.ClassVoteActivity" />
    </application>

</manifest>